.admin-table-container {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(27, 38, 59, 0.06);
  color: #1B263B;
  max-width: 1000px;
}

.admin-table-container h3 {
  color: #1B263B;
  margin-bottom: 20px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #D6D6D6;
  background-color: #FFFFFF;
}

.admin-table th,
.admin-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #D6D6D6;
  text-align: left;
}

.admin-table thead {
  background-color: #4D96FF;
  color: white;
}

.admin-table button {
  background-color: #641431;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.admin-table button:hover {
  background-color: #26b362;
}
